<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Page</title>
  </head>
  <body>
    <h1>Edit Course</h1>
    <h2>Form Here</h2>
    <form action="/courses/<%=course._id%>?_method=PUT" method="POST">
      <div class="">
        <label for="">Title </label>
        <input
          type="text"
          id="title"
          name="course[title]"
          value="<%= course.title%>"
        />
      </div>
      <div class="">
        <label for="">Location </label>
        <input
          type="text"
          id="location"
          name="course[location]"
          value="<%= course.location%>"
        />
      </div>
      <button>Update</button>
      <button><a href="/courses/<%= course._id%>">Cancel</a></button>
    </form>
  </body>
</html>
