<% layout('./layouts/boilerplate')%>
<h1>New Page</h1>
<h2>Form Here</h2>
<form action="/courses" method="POST">
  <div class="">
    <label for="">Title </label>
    <input type="text" id="title" name="course[title]" />
  </div>
  <div class="">
    <label for="">Location </label>
    <input type="text" id="location" name="course[location]" />
  </div>
  <button>Add Course</button>
  <button><a href="/courses">Cancel</a></button>
</form>
