<% layout('./layouts/boilerplate')%>

<div class="container">
  <h1>login page</h1>

  <form action="/login" method="POST" class="validated-form" novalidate>
    <div class="my-3">
      <label class="form-label" for="username">Username</label>
      <input
        class="form-control"
        type="username"
        id="username"
        name="username"
        placeholder="tigerWoods"
        required
        autofocus
      />
      <div class="valid-feedback">Good!</div>
    </div>

    <div class="my-3">
      <label class="form-label" for="password">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        name="password"
        placeholder="******"
        required
      />
      <div class="valid-feedback">Good!</div>
    </div>
    <div class="text-end">
      <button class="btn btn-info">Log-In</button>
    </div>
  </form>
</div>
